.srtf_info{
    margin-top: 50px;
    margin-left: 10px;
}

.hovering {
    text-decoration: none;
    margin-left: 10px;
    color: white;
    /* background-color: burlywood; */
  }
  .hovering:hover {
    /* background-color: black; */
    color: whitesmoke;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
  }

#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
}

.navbar-light .navbar-brand {
    color: rgba(255,255,255,.9);
}

#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    
}

#mainNav .navbar-nav .nav-item .nav-link {
    
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    
}




@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background-color: #000000;
    background-image: linear-gradient(90deg, #000000 0%, #04619f 74%);
  font-family: "Roboto", sans-serif;
  color: white;
  background-attachment: fixed;
}

table{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.3rem;
    text-align: center;
    border: 2px solid white;
}


